<?xml version="1.0" encoding="UTF-8"?>
<asrequest xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="Settings.xsd">
  <common>
    <oneSystem>
      <name>null</name>
      <type>null</type>
    </oneSystem>
    <testType>none</testType>
    <runTime>0.0</runTime>
    <flagStat>true</flagStat>
    <partFlush>0.0</partFlush>
    <modeSave>modeSave</modeSave>
    <getTransaction>true</getTransaction>
  </common>
  <connections>
    <db>
      <host>host</host>
      <port>0.0</port>
      <sid>sid</sid>
      <user>user</user>
      <password>password</password>
      <debug>true</debug>
    </db>
    <mq>
      <host>host</host>
      <port>0.0</port>
      <manager>manager</manager>
      <channel>channel</channel>
      <user>user</user>
      <password>password</password>
    </mq>
  </connections>
  <systems>
    <system>
      <active>true</active>
      <jms>true</jms>
      <usrProperties>true</usrProperties>
      <debug>true</debug>
      <name>name</name>
      <validation>validation</validation>
      <typeValidating>checkbyxpath</typeValidating>
      <requestQueue>requestQueue</requestQueue>
      <responseQueue>responseQueue</responseQueue>
      <replyTo>replyTo</replyTo>
      <requestFile>requestFile</requestFile>
      <threads>0.0</threads>
      <countRequestByHour>0.0</countRequestByHour>
      <countListener>0.0</countListener>
      <step>step</step>
    </system>
  </systems>
  <webservices>
    <webservice>
      <active>true</active>
      <name>name</name>
      <debug>true</debug>
      <delay>0.0</delay>
      <countRequestByHour>0.0</countRequestByHour>
      <url>url</url>
      <checkConfirmDate>0.0</checkConfirmDate>
      <countRetryForOpenDate>0.0</countRetryForOpenDate>
      <step>step</step>
    </webservice>
  </webservices>
</asrequest>
